.title {
    font-size: 28px;
    font-weight: 700;
}
.subtitle {
    font-size: 15px;
    color: #566573;
    margin-top: -10px;
    margin-bottom: 20px;
}
.card {
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    border: 1px solid #e9ecef;
}

.small-gauge-container {
    text-align: center;
    margin-top: 8px;
}

.card {
    background: #FFFFFF;
    padding: 22px;
    border-radius: 12px;
    border: 1px solid #E6E6E6;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.05);
}

.result-card h3 {
    margin-bottom: 10px;
}

/* Make gauge small and centered */
.gauge-wrapper {
    text-align: center;
    margin-top: 10px;
}

/* Removes extra padding around pyplot */
.gauge-wrapper div[data-testid="stVerticalBlock"] {
    padding: 0 !important;
    margin: 0 !important;
}

.gauge-wrapper canvas {
    margin: 0 auto !important;
    display: block !important;
}

/* Reduce vertical spacing between sections */
.block-container {
    padding-top: 1rem !important;
}

.result-card {
    margin-bottom: 0.5rem !important;
}

.section-title {
    margin-top: 0.5rem !important;
}



/* Force gauge to behave responsively */
@media (min-width: 768px) {
    /* Desktop = fix max width of gauge */
    .element-container iframe, .stImage > img, .stPlotlyChart, .stPyplot {
        max-width: 220px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        display: block;
    }
}

@media (max-width: 767px) {
    /* Mobile = full width */
    .element-container iframe, .stImage > img, .stPlotlyChart, .stPyplot {
        max-width: 100% !important;
    }
}
